<template>
  <div>
    <Navbar />
      Daftar Mahasiswa
    <div
      class="col-md-4 mt-4"
      v-for="mahasiswa in mahasiswas"
      :key="mahasiswa.id"
    >
      <mahasiswaitem :mahasiswa="mahasiswa"/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar.vue";
import mahasiswaitem from "@/components/MahasiswaItem.vue";
import axios from "axios";

export default {
  name: "Home",
  components: {
    Navbar,
    mahasiswaitem,
  },
  data() {
    return { mahasiswas: [] };
  },
  methods: {
    setMahasiswas(data) {
      this.mahasiswas = data;
    },
  },
  mounted() {
    axios
      .get("http://localhost:8001/api/mahasiswa")
      .then((response) => this.setMahasiswas(response.data))
      .catch((error) => console.log(error));
  },
};
</script>

<style>
</style>